# requirements for HuggingFace demo. Installs local package.
torch
espnet>=202301
typeguard<3 # typeguard 3.0.0 is incompatible with espnet
git+https://github.com/savoirfairelinux/num2words.git@3e39091d052829fc9e65c18176ce7b7ff6169772
ukrainian-word-stress==1.0.2
git+https://github.com/egorsmkv/ukrainian-accentor.git@5b7971c4e135e3ff3283336962e63fc0b1c80f4c
gradio # 3.34
huggingface_hub # ==0.11.1
